<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
    
    <title>Criando um Rest com Slim Framework e Illuminate Database em poucos minutos - parte 2 | Palmer Oliveira. Juntos Aprendemos Mais!</title>
    

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml">

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <meta name="author" content="@expalmer">
    <meta name="description" content="Usando Slim Framework juntamente com o Twig Template, Illuminate Database e Validate.">
    <link rel="canonical" href="http://expalmer.github.io/criando-um-rest-com-slim-framework-e-illuminate-database-em-poucos-minutos-parte-2">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="undefined">
    <meta name="twitter:domain" content="http://expalmer.github.io">
    <meta name="twitter:image:src" content="http://expalmer.github.io/images/palmer.jpg">
    <meta name="twitter:creator" content="@expalmer">
    <meta name="twitter:title" content="Criando um Rest com Slim Framework e Illuminate Database em poucos minutos - parte 2">
    <meta name="twitter:description" content="Usando Slim Framework juntamente com o Twig Template, Illuminate Database e Validate.">

    <meta itemprop="name" content="Criando um Rest com Slim Framework e Illuminate Database em poucos minutos - parte 2">
    <meta itemprop="description" content="Usando Slim Framework juntamente com o Twig Template, Illuminate Database e Validate.">
    <meta itemprop="image" content="http://expalmer.github.io/images/palmer.jpg">
    <meta itemprop="url" content="http://expalmer.github.io/criando-um-rest-com-slim-framework-e-illuminate-database-em-poucos-minutos-parte-2">
    <meta itemprop="author" content="undefined">
    <meta itemprop="inLanguage" content="pt-BR">
    <meta itemprop="keywords" content="PHP, SlimFramework, Illuminate Database, Illuminate Validation, Twig Template">

    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://expalmer.github.io/images/palmer.jpg">
    <meta property="og:title" content="Criando um Rest com Slim Framework e Illuminate Database em poucos minutos - parte 2">
    <meta property="og:description" content="Usando Slim Framework juntamente com o Twig Template, Illuminate Database e Validate.">
    <meta property="og:url" content="http://expalmer.github.io/criando-um-rest-com-slim-framework-e-illuminate-database-em-poucos-minutos-parte-2">
    <meta property="og:site_name" content="Criando um Rest com Slim Framework e Illuminate Database em poucos minutos - parte 2">

    <meta name="google-site-verification" content="BkRIiZn31VGZWd4NBpMhpA8pxdgnSOVwB0jaCFP800M" />

    <link rel="stylesheet" href="/styles/main.min.css">

    <link href="/favico.ico" rel="icon">

  </head>
  <body>
    <header class="header">
      <a href="http://expalmer.github.io" class="header__home" title="Blog do expalmer">
        <figure>
          <img src="http://expalmer.github.io/images/palmer.jpg" alt="Foto de um Panda de Óculos">
        </figure>
        <p>@expalmer</p>
      </a>
      <h1>A Javascript Enthusiast</h1>
      <h2>Juntos Aprendemos Mais :)</h2>
      <nav class="header__menu">
        <ul class="menu">
          <li><a href="http://expalmer.github.io" class="menu__link" title="Posts do Blog">Posts</a></li>
          <li><a href="http://expalmer.github.io/tags/" class="menu__link" title="Tags do Blog">Tags</a></li>
          <li><a href="https://github.com/expalmer" class="menu__link" title="Github do @expalmer">GitHub</a></li>
          <li><a href="http://expalmer.github.io/rss.xml" class="menu__link" title="RSS do Blog">RSS</a></li>
        </ul>
      </nav>
    </header>

    
  <main class="main">
    <div class="limiter">
      <article class="article" itemscope itemtype="https://schema.org/Blog">
        <header>
          <time class="post__time" itemprop="datePublished" content="February 22, 2015" datetime="February 22, 2015">February 22, 2015</time>
          <h1 class="post__title">Criando um Rest com Slim Framework em poucos minutos - parte 2</h1>
          <iside class="post__related">
            
            <a href="http://expalmer.github.io/tags/php" class="atag php" title="Veja mais posts sobre php">php</a>
            
            <a href="http://expalmer.github.io/tags/slimframework" class="atag slimframework" title="Veja mais posts sobre slimframework">slimframework</a>
            
          </iside>
        </header>
        <p>No post passado vimos como iniciar um rest com o <a href="http://slimframework.com/">Slim Framework</a>, mas neste post resolvi mudar a abordagem, vamos fazer um <code>CRUD</code> usando o <a href="http://twig.sensiolabs.org/">Twig Template</a>, <a href="https://github.com/illuminate/database">Illuminate Database</a>, <a href="https://github.com/illuminate/validation">Illuminate Validation</a>. Juntos eles formam um bom time!</p>
<p>Vou postar todo código de novo, pois fiz umas modificações na organização dos arquivos, removi, alterei e inclui novos arquivos, e acredito que ficou bem mais organizado. Retirei a parte do REST por enquanto, deixarei apenas o CRUD, mas logo farei novamente o REST para ser consumido pela nossa aplicação no <code>client side</code> por uma lib javascript.</p>
<h3 id="1-os-dados-do-banco-mysql-use-o-mesmo-que-usamos-no-post-passado-">1) Os dados do banco MySql, use o mesmo que usamos no post passado!</h3>
<h3 id="2-estrutura-de-arquivos-do-app">2 ) Estrutura de arquivos do APP</h3>
<pre><code class="lang-javascript">
slim-rest
├── app
│   ├── config
│   │   ├── services.php
│   │   └── twig.php
│   ├── controllers
│   │   ├── baseController.php
│   │   └── guitarController.php
│   ├── models
│   │   └── appModels.php
│   ├── views
│   │   ├── cache
│   │   └── shared
│   │   │   └── layout.html
│   │   ├── guitarForm.html
│   │   ├── guitars.html
│   │   └── index.html
│   ├── routes.php
├── public
│   ├── css
│   │   └── main.css
│   ├── js
│   │   └── app.php
├── .htaccess
├── composer.json
└── index.php
</code></pre>
<h3 id="3-composer-json">3) composer.json</h3>
<pre><code class="lang-javascript">{
  &quot;require&quot;: {
    &quot;slim/slim&quot;: &quot;2.4.3&quot;,
    &quot;slim/views&quot;: &quot;0.1.2&quot;,
    &quot;twig/twig&quot;: &quot;v1.16.2&quot;,
    &quot;illuminate/database&quot;: &quot;v4.2.9&quot;,
    &quot;illuminate/validation&quot;: &quot;*&quot;,
    &quot;illuminate/filesystem&quot;: &quot;*&quot;,
    &quot;illuminate/translation&quot;: &quot;*&quot;,
    &quot;itsgoingd/slim-services&quot;: &quot;dev-master&quot;
  },
  &quot;autoload&quot;: {
    &quot;classmap&quot;: [
      &quot;app/controllers&quot;,
      &quot;app/models&quot;
    ]
  }
}
</code></pre>
<p>Vamos comentar as dependências.</p>
<ul>
<li><strong>slim/slim</strong>: Nosso framework.</li>
<li><strong>slim/views</strong>: Para permitir usar um template engine.</li>
<li><strong>twig/twig</strong>: Nosso template</li>
<li><strong>illuminate/database</strong>: Nosso ORM.</li>
<li><strong>illuminate/validation</strong>: Para fazer as validações dos dados.</li>
<li><strong>illuminate/filesystem, illuminate/translation</strong>: São requeridos pelo slim-services para fazer as tretas dele.</li>
<li><strong>itsgoingd/slim-services</strong>: É uma lib para adicionar o serviços de uma forma simples no slim.</li>
</ul>
<h2 id="4-instalando-as-depend-ncias-com-composer-">4) Instalando as dependências com Composer.</h2>
<ol>
<li>Crie o diretório <code>slim-rest</code>.</li>
<li>Baixe o Composer.<pre><code class="lang-bash">$ curl -sS https://getcomposer.org/installer | php
</code></pre>
</li>
<li>Instale as dependências.<pre><code class="lang-bash">$ php composer.phar install
</code></pre>
</li>
</ol>
<p>Aqui temos um detalhe legal, no <code>composer.json</code> note o trecho <code>&quot;autoload&quot;</code>, dentro do <code>&quot;classmap&quot;</code> estamos mapeando tudo que for classe dentro dos diretórios informados, isso significa que não precisa ficar dando include das classes que estiverem dentro das pastas informadas.</p>
<p>Mas tem outro ponto, onde temos que dar um comando para esse mapeamento acontecer, faça assim no terminal dentro da pasta raiz.</p>
<pre><code class="lang-bash">$ php composer.phar dump-autoload
</code></pre>
<p>Isso vai criar os mapeamentos, que você pode acompanhar dentro da pasta <code>vendor/composer/autoload_classmap.php</code>. Lindo né! Lembre-se que quando criar uma pasta nova, precisa dar o comando novamente.</p>
<p>Não se esqueça desse comando, se alguma classe não for reconhecida pelo Slim, é bem provável que você tenha que rodar ele.</p>
<p>Vamos para os arquivos.</p>
<h2 id="5-index-php">5) index.php</h2>
<p>Esse é nosso arquivo principal de entrada do APP.</p>
<pre><code class="lang-php">&lt;?php
# === Para mostrar todos erros
error_reporting(E_ERROR | E_WARNING | E_PARSE | E_NOTICE);
ini_set(&#39;display_errors&#39;,&#39;On&#39;);

# === Session
session_cache_limiter(false);
@session_start();

# === Constants
# ==================================================
// coloque o caminho certo do teu server
define(&quot;_BASEURL&quot;, &#39;http://localhost/slim-rest/&#39;);

# === Autoload
# ==================================================
require_once &#39;vendor/autoload.php&#39;;

# === Slim Initialize
# ==================================================
$app = new \Slim\Slim(array(
  &#39;debug&#39;                =&gt; true,
  &#39;mode&#39;                 =&gt; &#39;development&#39;,
  &#39;templates.path&#39;       =&gt; &#39;app/views&#39;,
  &#39;database.fetch&#39;       =&gt; PDO::FETCH_CLASS,
  &#39;database.default&#39;     =&gt; &#39;main&#39;,
  &#39;database.connections&#39; =&gt; array(
    // coloquei os dados do banco diretamente aqui agora.
    &#39;main&#39; =&gt; array(
      &#39;driver&#39;    =&gt; &#39;mysql&#39;,
      &#39;host&#39;      =&gt; &#39;localhost&#39;,
      &#39;database&#39;  =&gt; &#39;music&#39;,
      &#39;username&#39;  =&gt; &#39;root&#39;,
      &#39;password&#39;  =&gt; &#39;root&#39;,
      &#39;charset&#39;   =&gt; &#39;utf8&#39;,
      &#39;collation&#39; =&gt; &#39;utf8_unicode_ci&#39;,
      &#39;prefix&#39;    =&gt; &#39;&#39;
    )
  )
));

# === Slim Services
# ==================================================
require_once &#39;app/config/services.php&#39;;

# === Twig Template
# ==================================================
require_once &#39;app/config/twig.php&#39;;

# === Routes
# ==================================================
require_once &#39;app/routes.php&#39;;

# === Run Slim
$app-&gt;run();
</code></pre>
<h2 id="6-htaccess">6) .htaccess</h2>
<pre><code class="lang-bash">RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
</code></pre>
<h2 id="7-app-config-services-php">7) app/config/services.php</h2>
<pre><code class="lang-php">&lt;?php
use SlimServices\ServiceManager;
$services = new ServiceManager( $app );
$services-&gt;registerServices(array(
  &#39;Illuminate\Events\EventServiceProvider&#39;,
  &#39;Illuminate\Database\DatabaseServiceProvider&#39;,
  &#39;Illuminate\Filesystem\FilesystemServiceProvider&#39;,
  &#39;Illuminate\Translation\TranslationServiceProvider&#39;,
  &#39;Illuminate\Validation\ValidationServiceProvider&#39;
));
</code></pre>
<h2 id="8-app-config-twig-php">8) app/config/twig.php</h2>
<pre><code class="lang-php">&lt;?php
$twig = new \Slim\Views\Twig();
$app-&gt;view( $twig );
$app-&gt;view-&gt;parserOptions = array(
  &#39;charset&#39;          =&gt; &#39;utf-8&#39;,
  &#39;cache&#39;            =&gt; realpath(&#39;app/views/cache&#39;),
  &#39;auto_reload&#39;      =&gt; true,
  &#39;strict_variables&#39; =&gt; false,
  &#39;autoescape&#39;       =&gt; true
);
/* Twig Globals
=========================================================== */
# O que setarmos aqui, será visto dentro das views, simple assim.
$twig-&gt;getEnvironment()-&gt;addGlobal(&#39;baseUrl&#39;, _BASEURL);
$twig-&gt;getEnvironment()-&gt;addGlobal(&#39;public&#39;, _BASEURL . &#39;public&#39;);
</code></pre>
<h2 id="9-app-models-appmodels-php">9) app/models/appModels.php</h2>
<pre><code class="lang-php">&lt;?php

use Illuminate\Database\Eloquent\Model as Eloquent;

class Brands extends Eloquent
{
  protected $table = &#39;brands&#39;;
}

class Series extends Eloquent
{
  protected $table = &#39;series&#39;;
}

class Guitars extends Eloquent
{
  protected $table = &#39;guitars&#39;;

  public function Brand() {
    return $this-&gt;hasOne(&#39;Brands&#39;,&#39;id&#39;, &#39;fk_brands&#39;);
  }

  public function Serie() {
    return $this-&gt;hasOne(&#39;Series&#39;,&#39;id&#39;, &#39;fk_series&#39;);
  }
}
</code></pre>
<h2 id="10-app-routes-php">10) app/routes.php</h2>
<p>Aqui vamos mudar o jeito de chamar nossas rotas, vamos criar um arquivo <code>routes.php</code> que invacará as classes dos controllers. Fica mais organizado!</p>
<p>A forma do Slim invocar uma classe, em vez de chamar a função normal, é colocando o padrão <code>$app-&gt;get(&quot;/url-da-rota&quot;, &quot;NomeDaClasse:Metodo&quot;);</code>, sacou, nome da classe + dois pontos + o método.</p>
<pre><code class="lang-php">&lt;?php

# Index
$app-&gt;get(&quot;/&quot;, &quot;BaseController:index&quot;);

# Listagem
$app-&gt;get(&quot;/guitars&quot;, &quot;GuitarController:guitars&quot;);

# Form Insert e Update
$app-&gt;get(&quot;/guitar/insert&quot;, &quot;GuitarController:guitarFormInsert&quot;);
$app-&gt;get(&quot;/guitar/update/:id&quot;, &quot;GuitarController:guitarFormUpdate&quot;);

# Ações CRUD
$app-&gt;post(&quot;/guitar&quot;, &quot;GuitarController:guitarCreate&quot;);
$app-&gt;put(&quot;/guitar/:id&quot;, &quot;GuitarController:guitarUpdate&quot;);
$app-&gt;delete(&quot;/guitar/:id&quot;, &quot;GuitarController:guitarDelete&quot;);
</code></pre>
<h2 id="11-app-controllers-basecontrollers-php">11) app/controllers/baseControllers.php</h2>
<p>Outra forma de organizar, é criar uma classe base, para que seja extendida para as demais classes controllers que você criar, pois quando precisar criar um método que seja compartilhado por todas as classes, coloque a mesma na classe <code>baseController.php</code>!</p>
<p>Aqui já faço isso, instancio o Slim como <code>$this-&gt;app</code>, e usarei no meu controller. Também aqui já coloquei a rota <code>index</code>.</p>
<pre><code class="lang-php">&lt;?php

use Slim\Slim as Slim;

class BaseController {

  public $app;

  function __construct() {
    $this-&gt;app = Slim::getInstance();
  }

  public function index() {

    $links = array(
      array(&#39;name&#39; =&gt; &#39;Listagem de Guitarras&#39;, &#39;endpoint&#39; =&gt; &#39;guitars&#39; )
    );

    $this-&gt;app-&gt;view-&gt;setData(&#39;links&#39;,$links);
    $this-&gt;app-&gt;render(&quot;index.html&quot;);

  }
}
</code></pre>
<h2 id="12-app-controllers-guitarcontrollers-php">12) app/controllers/guitarControllers.php</h2>
<p>Esse é o aquivo mais extenso, então vou comentar no código mesmo.</p>
<pre><code class="lang-php">&lt;?php

# Instancia do Validate
use Illuminate\Support\Facades\Validator as Validator;

class GuitarController extends BaseController {

  # Listagem
  public function guitars() {

    $options = array(
      &#39;title&#39;  =&gt; &#39;Listagem de Guitarras&#39;,
      &#39;insert&#39; =&gt; &#39;Inserir nova Guitarra&#39;
    );

    $items = Guitars::with(&#39;Brand&#39;)
                    -&gt;with(&#39;Serie&#39;)
                    -&gt;orderBy(&#39;updated_at&#39;,&#39;DESC&#39;)
                    -&gt;get()
                    -&gt;toArray();

    // é assim que você passa variáveis para o twig template, usando setData
    // dentro da view ele estará disponível como {{ items }} e {{ options }}
    $this-&gt;app-&gt;view-&gt;setData(&#39;items&#39;, $items);
    $this-&gt;app-&gt;view-&gt;setData(&#39;options&#39;, $options);

    return $this-&gt;app-&gt;render(&quot;guitars.html&quot;);

  }

  # lembre-se que para enviarmos POST, PUT e DELETE, precisamos ter um
  # input  name=_METHOD com o valor correspondente (ex: value=PUT), para que
  # seja entendido pelo framework.

  # Form Insert
  public function guitarFormInsert() {

    // flash messages são mensagens compartilhadas de uma rota para outra
    // aqui verifico se existe alguma flash message, se sim, seto na view
    $flash = $this-&gt;app-&gt;view()-&gt;getData(&#39;flash&#39;);
    if( isset($flash[&#39;post&#39;]) ) {
      $this-&gt;app-&gt;view-&gt;setData(&#39;item&#39;, $flash[&#39;post&#39;] );
    }

    $options = array(
      &#39;title&#39;   =&gt; &#39;Nova Guitarra&#39;,
      &#39;button&#39;  =&gt; &#39;Salvar Guitarra&#39;,
      &#39;action&#39;  =&gt; &#39;guitar&#39;,
      &#39;method&#39;  =&gt; &#39;POST&#39;,
      &#39;_method&#39; =&gt; &#39;POST&#39;,
      &#39;brands&#39;  =&gt; Brands::all()-&gt;lists(&#39;id&#39;, &#39;description&#39;),
      &#39;series&#39;  =&gt; Series::all()-&gt;lists(&#39;id&#39;, &#39;description&#39;)
    );

    $this-&gt;app-&gt;view-&gt;setData(&#39;options&#39;, $options);

    return $this-&gt;app-&gt;render(&quot;guitarForm.html&quot;);

  }

  # Form Update
  public function guitarFormUpdate( $id ) {

    $guitar = Guitars::find($id);
    if( !$guitar ) {
      $this-&gt;app-&gt;redirect( _BASEURL . &#39;guitars&#39;);
    }

    $this-&gt;app-&gt;view-&gt;setData(&#39;item&#39;, $guitar );

    $options = array(
      &#39;title&#39;   =&gt; &#39;Alterando a Guitarra &#39; . $id,
      &#39;button&#39;  =&gt; &#39;Alterar Guitarra&#39;,
      &#39;action&#39;  =&gt; &#39;guitar/&#39; . $id,
      &#39;method&#39;  =&gt; &#39;POST&#39;,
      &#39;_method&#39; =&gt; &#39;PUT&#39;,
      &#39;brands&#39;  =&gt; Brands::all()-&gt;lists(&#39;id&#39;, &#39;description&#39;),
      &#39;series&#39;  =&gt; Series::all()-&gt;lists(&#39;id&#39;, &#39;description&#39;)
    );

    $this-&gt;app-&gt;view-&gt;setData(&#39;options&#39;, $options);

    return $this-&gt;app-&gt;render(&quot;guitarForm.html&quot;);

  }

  # Validation: é coisa linda, você separa por pipe as regras ( pode usar array também )
  # principalmente quando precisa usar regex que possui pipe.
  # confira as regras no site do laravel framework http://laravel.com/docs/4.2/validation

  private function getGuitarValidationRules() {
    return array(
      &#39;fk_brands&#39;   =&gt; &#39;required|integer&#39;,
      &#39;fk_series&#39;   =&gt; &#39;required|integer&#39;,
      &#39;description&#39; =&gt; &#39;required|min:2|max:10|regex:/^([A-Za-z0-9 ]*)$/&#39;
    );
  }

  # Validation: você pode criar mensagens custom para cada campo e tipo de validação
  # e esse &quot;:attribute&quot; é substituido pelo nome do campo.
  private function getGuitarValidationMessages() {
    return array(
      &#39;fk_brands.required&#39;   =&gt; &#39;required :attribute. Coloque uma Marca rapá!&#39;,
      &#39;fk_series.required&#39;   =&gt; &#39;required :attribute. Coloque uma Série mano!&#39;,
      &#39;description.required&#39; =&gt; &#39;required :attribute. Coloque o nome da guitarra!&#39;,
      &#39;description.min&#39;      =&gt; &#39;min :attribute. Ixi, tem pouca letra!&#39;,
      &#39;description.max&#39;      =&gt; &#39;max :attribute. Uau, tem muita letra!&#39;,
      &#39;description.regex&#39;    =&gt; &#39;regex :attribute. Opsss regex está errado véi!&#39;
    );
  }

  # só para pegar os dados enviados pelo post
  private function getGuitarParams() {
    return array(
      &#39;fk_brands&#39;   =&gt; $this-&gt;app-&gt;request-&gt;params(&quot;fk_brands&quot;, false),
      &#39;fk_series&#39;   =&gt; $this-&gt;app-&gt;request-&gt;params(&quot;fk_series&quot;, false),
      &#39;description&#39; =&gt; $this-&gt;app-&gt;request-&gt;params(&quot;description&quot;, false)
    );
  }

  # Validation: Aqui a validação acontece, passe para o validator 3 coisas:
  # 1:dados post 2:regras 3:mensagens. O método -&gt;fails() retorno true ou false.
  # Se deu false, você pega as mensagens de erros no método errors-&gt;getMessage()
  private function guitarValidationFails() {

    $post      = $this-&gt;getGuitarParams();
    $rules     = $this-&gt;getGuitarValidationRules();
    $messages  = $this-&gt;getGuitarValidationMessages();
    # Note que a lib slim-services já colocou no slim a instancia Validator.
    $validator = $this-&gt;app-&gt;validator-&gt;make( $post, $rules, $messages );

    return $validator-&gt;fails() ? $validator-&gt;errors()-&gt;getMessages() : false;

  }

  # super útil esse método, se passar um $id então é um Update, se não é Insert.
  private function saveOrUpdateGuitar( $id = false ) {

    if ( $id ) {
      $guitar = Guitars::find($id);
    } else {
      $guitar = new Guitars();
    }

    $post = $this-&gt;getGuitarParams();

    $guitar-&gt;fk_brands   = $post[&#39;fk_brands&#39;];
    $guitar-&gt;fk_series   = $post[&#39;fk_series&#39;];
    $guitar-&gt;description = $post[&#39;description&#39;];

    $guitar-&gt;save();

    return true;

  }


  # method post to create
  public function guitarCreate() {

    $errors = $this-&gt;guitarValidationFails();

    if ( $errors  ) {
      # olha aqui setando os flash messages.
      $this-&gt;app-&gt;flash(&#39;message&#39;, &#39;Opppppa! Tem alguns erros na área!!!&#39;);
      $this-&gt;app-&gt;flash(&#39;errors&#39;, $errors );
      $this-&gt;app-&gt;flash(&#39;post&#39;, $this-&gt;getGuitarParams() );
      # redireciono de volta para o form com as mensagens de erros e os
      # dados preenchidos no form
      return $this-&gt;app-&gt;redirect(_BASEURL . &quot;guitar/insert&quot;);

    } else {
      # aqui deu tudo certo, então faz insert e redireciona para listagem
      $this-&gt;saveOrUpdateGuitar();
      $this-&gt;app-&gt;flash(&#39;message&#39;, &#39;Oba! Salvou certinho!&#39;);
      return $this-&gt;app-&gt;redirect(_BASEURL . &quot;guitars&quot;);

    }

  }

  # method put to update
  public function guitarUpdate( $id ) {

    # usamos mesmo metodo para validação
    $errors = $this-&gt;guitarValidationFails();

    if ( $errors  ) {
      # aqui devolvo além dos erros, os dados originais e não os preenchidos no form.
      $post = Guitars::find($id);
      $this-&gt;app-&gt;flash(&#39;message&#39;, &#39;Opppppa! Tem alguns erros na área!!!&#39;);
      $this-&gt;app-&gt;flash(&#39;errors&#39;, $errors );
      $this-&gt;app-&gt;flash(&#39;post&#39;, $post );

      return $this-&gt;app-&gt;redirect(_BASEURL . &quot;guitar/update/{$id}&quot;);

    } else {
      # tudo certo, faz update e redireciona para listagem
      $this-&gt;saveOrUpdateGuitar( $id );
      $this-&gt;app-&gt;flash(&#39;message&#39;, &#39;Oba! Alterou certinho!&#39;);
      return $this-&gt;app-&gt;redirect(_BASEURL . &quot;guitars&quot;);

    }

  }

  # method delete to remove
  public function guitarDelete( $id ) {

    $guitar = Guitars::find($id);
    $guitar-&gt;delete();
    $this-&gt;app-&gt;flash(&#39;message&#39;, &#39;Certo! Deletado !&#39;);
    return $this-&gt;app-&gt;redirect(_BASEURL . &quot;guitars&quot;);

  }

}
</code></pre>
<h2 id="13-app-views-shared-layout-html">13) app/views/shared/layout.html</h2>
<p>Agora vamos para nossos arquivos <code>Twig</code>. O Twig é meu template favorito, ele é muito rápido por cachear as páginas geradas na pasta <code>views/cache</code>, então já sabe, você só cria ela e deixa que o Twig se encarrega de administrar.</p>
<p>Leia a <a href="http://twig.sensiolabs.org/documentation">documentação do Twig</a>, e verá que ele possui muitos métodos úteis e inteligêntes que te darão muita agilidade no desenvolvimento.</p>
<p>Esse é o aquivo principal, onde no block <code>content</code> será inserido o conteúdo do template chamado pelo controller, através de um <code>extends</code>.</p>
<pre><code class="lang-twig">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;Slim Framework + Twig Template + Illuminate Database/Validation&lt;/title&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;{{public}}/css/main.css&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;header class=&quot;header&quot;&gt;
      &lt;h1&gt;&lt;a href=&quot;{{baseUrl}}&quot;&gt;Slim Framework + Twig Template + Illuminate Database/Validation&lt;/a&gt;&lt;/h1&gt;
    &lt;/header&gt;
    {% if flash[&#39;message&#39;] %}
      &lt;div class=&quot;alert&quot;&gt;
        &lt;p&gt;{{flash[&#39;message&#39;]}}&lt;/p&gt;
      &lt;/div&gt;
    {% endif %}
    {% block content %}{% endblock %}
    &lt;footer class=&quot;footer&quot;&gt;
      &lt;a href=&quot;http://slimframework.com/&quot;&gt;Slim Framework&lt;/a&gt; +
      &lt;a href=&quot;http://twig.sensiolabs.org&quot;&gt;Twig Template&lt;/a&gt; +
      &lt;a href=&quot;https://github.com/illuminate/database&quot;&gt;Illuminate Database&lt;/a&gt; +
      &lt;a href=&quot;https://github.com/illuminate/validation&quot;&gt;Illuminate Validation&lt;/a&gt; ;)
    &lt;/footer&gt;
  &lt;/div&gt;
  &lt;script src=&quot;{{public}}/js/app.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h2 id="14-app-views-index-html">14) app/views/index.html</h2>
<pre><code class="lang-twig">{% extends &#39;shared/layout.html&#39; %}
{% block content %}
&lt;section class=&quot;section&quot;&gt;
  &lt;ul class=&quot;list&quot;&gt;
    {% for link in links %}
    &lt;li&gt;
      &lt;a href=&quot;{{baseUrl}}{{link.endpoint}}&quot; class=&quot;button&quot;&gt;
        &lt;strong&gt;{{link.name}}&lt;/strong&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    {% endfor %}
  &lt;/ul&gt;
&lt;/section&gt;
{% endblock %}
</code></pre>
<h2 id="15-app-views-guitars-html">15) app/views/guitars.html</h2>
<pre><code class="lang-twig">{% extends &#39;shared/layout.html&#39; %}
{% block content %}
  &lt;section class=&quot;section&quot;&gt;
    &lt;h2&gt;{{options.title}}&lt;/h2&gt;
    &lt;ul class=&quot;list&quot;&gt;
      &lt;li&gt;
        &lt;a href=&quot;{{baseUrl}}guitar/insert&quot; class=&quot;button&quot;&gt;
          &lt;strong&gt;{{options.insert}}&lt;/strong&gt;
        &lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    &lt;table class=&quot;table&quot;&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th&gt;Brand&lt;/th&gt;
          &lt;th&gt;Serie&lt;/th&gt;
          &lt;th&gt;Guitar&lt;/th&gt;
          &lt;th&gt;Criado em&lt;/th&gt;
          &lt;th&gt;Alterado em&lt;/th&gt;
          &lt;th&gt;&lt;/th&gt;
          &lt;th&gt;&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        {% for i in items %}
        &lt;tr&gt;
          &lt;td&gt;
            {{i.brand.description}}
          &lt;/td&gt;
          &lt;td&gt;
            {{i.serie.description}}
          &lt;/td&gt;
          &lt;td&gt;{{i.description}}&lt;/td&gt;
          &lt;td&gt;{{i.created_at|date(&quot;m/d/Y H:i:s&quot;)}}&lt;/td&gt;
          &lt;td&gt;{{i.updated_at|date(&quot;m/d/Y H:i:s&quot;)}}&lt;/td&gt;
          &lt;td&gt;
            &lt;a href=&quot;{{baseUrl}}guitar/update/{{ i.id }}&quot; class=&quot;button button-sm&quot;&gt;Editar&lt;/a&gt;
          &lt;/td&gt;
          &lt;td&gt;
            &lt;form action=&quot;{{baseUrl}}guitar/{{ i.id }}&quot; method=&quot;POST&quot; class=&quot;js-delete-form&quot;&gt;
              &lt;input type=&quot;hidden&quot; name=&quot;_METHOD&quot; value=&quot;DELETE&quot;&gt;
              &lt;div class=&quot;form-group&quot;&gt;
                &lt;button type=&quot;submit&quot; class=&quot;button button-sm button-dl&quot;&gt;Remover&lt;/button&gt;
              &lt;/div&gt;
            &lt;/form&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        {% endfor %}
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/section&gt;
{% endblock %}
</code></pre>
<h2 id="16-app-views-guitarform-html">16) app/views/guitarForm.html</h2>
<p>Estou usando um único arquivo para o formulário de insert/update. Basta organizar!</p>
<pre><code class="lang-twig">{% extends &#39;shared/layout.html&#39; %}
{% block content %}
  &lt;section class=&quot;section&quot;&gt;
    &lt;h2&gt;{{options.title}}&lt;/h2&gt;
    &lt;form action=&quot;{{baseUrl}}{{options.action}}&quot; class=&quot;form&quot; method=&quot;{{options.method}}&quot;&gt;
      &lt;input type=&quot;hidden&quot; name=&quot;_METHOD&quot; value=&quot;{{options._method}}&quot;&gt;
      &lt;div class=&quot;form-group {% if flash[&#39;errors&#39;][&#39;fk_brands&#39;] is defined%}has-error{% endif %}&quot;&gt;
        &lt;label for=&quot;fk_brands&quot;&gt;Brand&lt;/label&gt;
        &lt;select name=&quot;fk_brands&quot; id=&quot;fk_brands&quot; class=&quot;form-control&quot;&gt;
          &lt;option value=&quot;&quot;&gt;-&lt;/option&gt;
          {% for key, value in options.brands %}
              {% if value == item.fk_brands %}
                {% set sel = &quot;selected=selected&quot; %}
              {% else %}
                {% set sel = &quot;&quot; %}
              {% endif %}
              &lt;option value=&quot;{{value}}&quot; {{sel}}&gt;{{key}}&lt;/option&gt;
          {% endfor %}
        &lt;/select&gt;
        {% if flash[&#39;errors&#39;][&#39;fk_brands&#39;] is defined %}
        &lt;span class=&quot;error&quot;&gt;
          {{ flash[&#39;errors&#39;][&#39;fk_brands&#39;]|join(&#39; &#39;) }}
        &lt;/span&gt;
        {% endif %}
      &lt;/div&gt;
      &lt;div class=&quot;form-group {% if flash[&#39;errors&#39;][&#39;fk_series&#39;] is defined %}has-error{% endif %}&quot;&gt;
        &lt;label for=&quot;fk_series&quot;&gt;Series&lt;/label&gt;
        &lt;select name=&quot;fk_series&quot; id=&quot;fk_series&quot; class=&quot;form-control&quot;&gt;
          &lt;option value=&quot;&quot;&gt;-&lt;/option&gt;
          {% for key, value in options.series %}
              {% if value == item.fk_series %}
                {% set sel = &quot;selected=selected&quot; %}
              {% else %}
                {% set sel = &quot;&quot; %}
              {% endif %}
              &lt;option value=&quot;{{value}}&quot; {{sel}}&gt;{{key}}&lt;/option&gt;
          {% endfor %}
        &lt;/select&gt;
        {% if flash[&#39;errors&#39;][&#39;fk_series&#39;] is defined %}
        &lt;span class=&quot;error&quot;&gt;
          {{ flash[&#39;errors&#39;][&#39;fk_series&#39;]|join(&#39; &#39;) }}
        &lt;/span&gt;
        {% endif %}
      &lt;/div&gt;
      &lt;div class=&quot;form-group {% if flash[&#39;errors&#39;][&#39;description&#39;] is defined%}has-error{% endif %}&quot;&gt;
        &lt;label for=&quot;description&quot;&gt;Descrição&lt;/label&gt;
        &lt;input type=&quot;text&quot; name=&quot;description&quot; id=&quot;description&quot; class=&quot;form-control&quot; value=&quot;{{item.description}}&quot;&gt;
        {% if flash[&#39;errors&#39;][&#39;description&#39;] is defined%}
        &lt;span class=&quot;error&quot;&gt;
          {{ flash[&#39;errors&#39;][&#39;description&#39;]|join(&#39;&lt;br&gt;&#39;)|raw }}
        &lt;/span&gt;
        {% endif %}
      &lt;/div&gt;
      &lt;div class=&quot;form-group&quot;&gt;
        &lt;button class=&quot;button&quot; type=&quot;submit&quot;&gt;{{options.button}}&lt;/button&gt;
      &lt;/div&gt;
    &lt;/form&gt;
  &lt;/section&gt;
{% endblock %}
</code></pre>
<h2 id="17-public-css-main-css">17) public/css/main.css</h2>
<p>Vamos dar um estilo.</p>
<pre><code class="lang-css">html {
  text-align: center;
  font: 100%/1.5 &#39;Arial&#39;, sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  background-color: #fcfcfc;
  color: #333;
}

a {
  color: #DE4F4F;
}
a:hover {
  color: #000;
}

h1 {
  padding: 10px;
  font-size: 1.3em;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
h1 a:hover {
  color: #fce5e5;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #222;
}

.container {
  margin: 40px auto;
  max-width: 700px;
}

.header {
  background-color: #DE4F4F;
  border: solid 2px #DE4F4F;
  border-radius: 4px;
}

.section {

}

.list {
  margin: 0 auto;
  max-width: 300px;
}

.list li {
  margin: 10px 0;
  list-style: none;
}

.footer, .section {
  margin: 10px 0;
  padding: 10px;
  border: solid 2px #DE4F4F;
  border-radius: 4px;
  font-size: 0.9em;
  color: #999;
}

table {
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table thead {
  text-align: left;
}
table thead &gt; tr &gt; th {
  padding: 20px 8px;
  color: #444;
  font-weight: 700;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

table tbody &gt; tr &gt; td {
  text-align: left;
  padding: 14px 8px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-top: 1px solid #f1f1f1;
  font-size: 0.8em;
}

table tbody &gt; tr &gt; td small {
  display: block;
  font-size: 0.8em;
  color: #999;
}

.form-group {
  margin: 0 auto;
  padding: 4px;
  max-width: 300px;
  margin-bottom: 4px;
  text-align: left;
}
.form-group label {
  margin: 0 0 4px;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.7;
  color: #444;
  display: block;
}

.form-control {
  display: block;
  margin: 0 0 2px;
  padding: 0 0 0 10px;
  text-indent: 10px;
  width: 100%;
  height: 40px;
  font-size: 0.9em;
  line-height: 1.42857143;
  color: #444;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.05);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #de4f4f;
}

select.form-control {
  text-indent: 0px;
  height: 40px;
}

.error {
  display: none;
  color: #fff;
  font-size: 0.8em;
  padding: 4px 12px;
  border-radius: 3px;
  border: 1px solid #8F3DBE;
  background: #8F3DBE;
  -webkit-transition: all ease-in-out .15s, all ease-in-out .15s;
     -moz-transition: all ease-in-out .15s, all ease-in-out .15s;
          transition: all ease-in-out .15s, all ease-in-out .15s;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
          transform: scale(0);
}

.has-error .error {
  display: inline-block;
  -webkit-transform: scale(1);
    -moz-transform: scale(1);
         transition: all ease-in-out .15s, all ease-in-out .15s;
}
.has-error .form-control {
  border-color: #8F3DBE!important;
}

.button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid #de4f4f;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  background: #FFF;
  color: #de4f4f;
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
          transition: all 0.2s linear;
  text-decoration: none;
  width: 100%;
}

.button:hover,
.button:focus {
  border: 2px solid #de4f4f;
  background-color: #de4f4f;
  color: white;
}
.button:focus {
  outline: 0;
}

.button-sm {
  padding: 4px 6px;
  font-size: 12px;
  text-align: center;
}

.button-dl {
  text-align: center;
  background: #CC0000;
  color: #fff;
}

.alert {
  margin: 20px auto;
}
.alert p {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background: #8F3DBE;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
</code></pre>
<h2 id="18-public-js-app-js">18) public/js/app.js</h2>
<p>Só um script para mostrar um confirm quando exluir.</p>
<pre><code class="lang-javascript">;(function() {

  &#39;use strict&#39;;

  var app = App.prototype;

  function App(){
    this.init();
  };

  app.init = function () {
    var form = document.querySelectorAll(&#39;.js-delete-form&#39;);
    for (var prop in form) {
      if ( form.hasOwnProperty(prop) ) {
        if ( &quot;onsubmit&quot; in form[prop] ) {
          form[prop].onsubmit = this.onSubmit;
        }
      }
    }
  };

  app.onSubmit = function () {
    if ( confirm(&#39;Deseja mesmo excluir rapá ?&#39;) ) {
      return true;
    }
    return false;
  };

  document.addEventListener( &#39;DOMContentLoaded&#39;, new App(), false );

})();
</code></pre>
<p>Pronto!!!</p>
<p>Agora abra seu browser no endereço do seu APP, no meu caso é <code>http://localhost/slim-rest/</code>.</p>
<p>Extenso né ? Sei disso, mas espero que sirva de ajuda ou auxílio para você.</p>
<p>Mais uma coisa, <a href="http://192.241.214.149/slim-rest/">clique aqui e veja o app funcionando</a>.</p>
<p>Obrigado por ler, e até o próximo post.</p>
<p>That&#39;s it!</p>

      </article>
      <!-- COMMENTS -->
      <section id="comments">
        <div id="disqus_thread"></div>
        <script data-cfasync="true" type="text/javascript">
            var disqus_shortname = 'expalmer';
            var disqus_url = 'http://expalmer.github.io/criando-um-rest-com-slim-framework-e-illuminate-database-em-poucos-minutos-parte-2/';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </section>
    </div>
  </main>


    <footer class="footer">
      <p>Made with <a href="http://www.metalsmith.io/" title="Metalsmith">Metalsmith</a>. View <a href="https://github.com/expalmer/expalmer.github.io-files" title="Source">Source</a></p>
    </footer>
    <script src="/scripts/main.min.js"></script>
  </body>
</html>